# Git y secretos (¡CRÍTICO PARA SEGURIDAD!)
.git
.gitignore
.env

# Entornos virtuales de Python
.venv
venv/
env/

# Caché de Python (hace la imagen pesada al pedo)
__pycache__/
*.pyc
*.pyo
*.pyd

# Frontend (El contenedor de la API no necesita los archivos de la web)
frontend/